.videocard{
    color: white;
    width: 450px;
    height: 350px;
    padding: 10px;
    transition: transform 100ms ease-in ;
}

.videocard:hover{
    transform: scale(1.09);
}
.videocard > img{
    height:200px;
    object-fit: contain;
    width: 450px;
}
.videocard >h2{
  padding-top: 1px;
}
.videocard-stats{
    /* width: auto; */
    
    display: none;
}
.videocard:hover > .videocard-stats{
    min-height: fit-content;
    display:inline-flex;
}
.videocard-stats {
    position: absolute;
    bottom: 10px;
    left: 16px;
}