.header{
    color: white;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
}
.header::-webkit-scrollbar{
    display: none;
}
.header-icons{
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.header-icon{
    display: flex;
    flex-direction: column;
    width: 100px;
}
.header-icon > p{
    display: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

.header-icon:hover >p {
    display: inline-flex !important;
}
.header-icon > .MuiSvgIcon-root{
margin-left: auto;
margin-right: auto;
}
.header > img {
    background-color: #051421 ;
    object-fit: contain;
    height: 80px;
}
.header-icon-active > p {
    display:inline-flex !important;
}